# Env files (anywhere)
backend/node_modules
frontend/node_modules
**/venv
ml_models/resume-parser/venv
ml_models/roadmap-generator
.env
**/.env

# Backend env
backend/.env
backend/.env.*

# macOS
.DS_Store
**/.DS_Store
